$danger: #790a04;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  overflow: auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header'
    'section'
    'main'
    'footer';
}

.app > header {
  grid-area: header;
}

.app > main {
  grid-area: main;
  padding: 15px 5px 10px 5px;
}

.app > footer {
  grid-area: footer;
}

button {
  margin-right: 8px;
  margin-left: 16px;
}
.contentCard {
  max-width: 1000px;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.copy {
  background-color: rgba(0, 0, 0, 0.2);
}
