$danger: #790a04;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,400&display=swap');

.app {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  overflow: auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header'
    'section'
    'main'
    'footer';

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
    padding: 15px 5px 10px 5px;
  }

  footer {
    grid-area: footer;
  }

  a {
    text-decoration: none;
  }

  p,
  ul,
  li {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }
}

.title {
  font-size: 16px;
}

.footerFont {
  font-size: 12px;
}

.smallFont {
  font-size: 10px;
}

.contentCard {
  max-width: 1250px;
}

.copy {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

.info {
  max-width: 600px;
}

.favList {
  max-width: 300px;
}

@media (min-width: 500px) {
  .title {
    font-size: 2rem;
  }
  .footerFont {
    font-size: 1rem;
  }
  .smallFont {
    font-size: 14px;
  }
}
